body,ul,li{
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*--- 라이브러리 ---*/
.cell {
  float: left;
}
.cell-right {
  float: right;
}
.row::after {
  display: block;
  clear: both;
  content: "";
}
/*---header---*/
#header{
    width: 100%;
}
.hd_flex .area_flex{
    max-width: 1170px;
    height: 30px;
    margin:0 auto;
    width: 100%;
    margin-top:30px;
}
.hd_flex .area_flex ul{
    width:220px;
    float:right;
    position: relative;
}
.hd_flex .area_flex ul li{
    font-size:12px;
    font-weight: bold;
    padding: 5px 14px 5px 14px;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    position: relative;
    vertical-align: middle;
    float:left;
}
.hd_flex .area_flex ul .sns_insta{
    width:14px;
    height: 14px;
    font-size:14px;
}
.hd_flex .area_flex ul .sns_facebook{
    width:14px;
    height: 14px;
    font-size:13px;
}
/*-------header / hd_flex-//---*/
.hd_fixed .hd_content{
    width: 1170px;
    padding-bottom: 120px;
    background-color:#fff;
    margin:0 auto;
    display: flex;
}
.hd_fixed .hd_content .hd_logo{
    width: 350px;
    height: 80px;
    position: relative;
    top:-20px;
    background-image: url(../img/logo.jpg);
    background-size:cover;
    background-position: center;
}
.hd_fixed .hd_content .gnb_menu{
    display: flex;
    margin-left:210px;
}
.hd_fixed .hd_content .gnb_menu ul{
    width:123px;
    padding-top: 20px;
    font-weight: bold;
    font-size:15px;
    position: relative;
}
.hd_fixed .hd_content .gnb_menu > ul::before{
    width:0.5px;
    height:3px;
    background-color:rgba(255,255,0,0.4);
    display:block;
    content:"";
    position:absolute;
    top:45px;
    transition:0.4s;
}
.hd_fixed .hd_content .gnb_menu ul:hover::before{
    width: 70%;
}
.hd_fixed >.hd_content > .gnb_menu > ul > a:hover{
    color:tan;
}

.dp2 ul li{
    width: 100%;
    font-size:12px;
    line-height: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.hd_fixed >.hd_content > .gnb_menu > ul >.dp2{
    display: none;
}
.hd_fixed >.hd_content > .gnb_menu > ul:hover > .dp2{
    display: block;
}
.hd_fixed >.hd_content > .gnb_menu > ul >.dp2 > ul > li:hover{
    color:chocolate;
}
/*--------------header-wrap-----------------*/
.swiper-container {
     width: 100%;
     height: 100%;
}
.swiper-slide {
      text-align: center;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
   }
































































